# Base URL for Web UI tests
BASE_URL=https://www.demoblaze.com/

# API Credentials and Endpoints
API_URL=https://reqres.in/api
USER_TOKEN=your_token_here

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eco_hybrid_db
DB_USER=postgres
DB_PASSWORD=your_password_here